body {
  font-family: "'Helvetica Neue',Helvetica,Arial,Sans-serif";
}
.m_logo {
  text-align: center;
}
.m_logo img {
  width: 180px;
}
.pc_logo {
  text-align: center;
  padding: 0 38px;
  line-height: 68px;
  width: 215px;
  box-sizing: border-box;
}
.pc_logo img {
  width: 130px;
  vertical-align: middle;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.showflex {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
}
.left-bar-fixed {
  overflow: hidden;
}
.my-group {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  scrollbar-arrow-color: #f0f2f5;
  /* 设置滚动条上的箭头颜色  */
  scrollbar-base-color: #f0f2f5;
  /* 设置滚动条的底色 */
  scrollbar-track-color: #f0f2f5;
  /* 设置滚动条块的背景色 */
  scrollbar-shadow-color: #f0f2f5;
  /* 设置箭头和滚动条右侧和底边的颜色 */
  width: 250px;
  overflow: auto;
  height: calc(100% - 80px);
}
.my-group::-webkit-scrollbar {
  /* 滚动条宽 */
  width: 6px;
}
.my-group::-webkit-scrollbar-thumb {
  /* 滚动条 拖动条 */
  background-color: #5f789a;
}
.my-group::-webkit-scrollbar-track {
  /* 滚动条背景槽 */
  background-color: rgba(0, 0, 0, 0.6);
}
.my-group .group .group-item span {
  display: inline-block;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.my-group .group .head-img {
  border-width: 2px;
}
.my-group .group:first-child .group-item .head-img {
  border-radius: 3px;
}
button,
input,
textarea {
  outline: none;
  border: 0;
  resize: none;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
a:focus,
.button:focus,
.input:focus {
  outline: none;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
body,
ul,
li,
dl,
dd,
dt {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
html,
body,
.container {
  height: 100%;
}
.go_top {
  background-image: url('icon/go_top.png');
  width: 34px;
  height: 34px;
  position: fixed;
  right: 0;
  bottom: 100px;
}
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  vertical-align: middle;
  color: #2f80ed;
}
.close-btn-m {
  background-image: url('icon/close_btn.png');
  width: 18px;
  height: 18px;
}
.head-img {
  width: 40px;
  height: 40px;
  min-width: 35px;
  min-height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  box-sizing: border-box;
}
.head-img img {
  width: 100%;
}
.refresh-btn {
  cursor: pointer;
}
.refresh-btn span {
  vertical-align: middle;
  color: #2f80ed;
  font-size: 12px;
}
.refresh-btn .icon {
  background-image: url('icon/blue_refresh.png');
  width: 12px;
  height: 12px;
  vertical-align: middle;
  margin-right: 8px;
}
#profilepop .modal-warp {
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
#profilepop .modal-warp .modal-panel {
  width: 668px;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -334px;
  margin-top: -238px;
}
#profilepop .modal-warp .modal-panel .close-modal {
  text-align: right;
  margin-bottom: 15px;
}
#profilepop .modal-warp .modal-panel .close-modal .close-btn {
  display: inline-block;
  width: 18px;
  height: 18px;
  color: #2f80ed;
  text-align: center;
}
#profilepop .modal-warp .modal-panel .set-panel {
  height: 457px;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 8px 15px 0px rgba(38, 87, 153, 0.3);
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel {
  width: 210px;
  height: 100%;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-title {
  font-size: 14px;
  font-weight: bold;
  color: #2f80ed;
  padding-bottom: 15px;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items {
  font-size: 12px;
  padding: 10px 0;
  border-top: 1px solid #DDE3EA;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items dt {
  color: #9AACC2;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items dd {
  color: #333333;
  margin-top: 14px;
  position: relative;
  cursor: default;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items dd:after {
  content: "\003E";
  position: absolute;
  right: 0;
  transform: scale(0.9, 1.6);
  -ms-transform: scale(0.9, 1.6);
  /* Internet Explorer */
  -moz-transform: scale(0.9, 1.6);
  /* Firefox */
  -webkit-transform: scale(0.9, 1.6);
  /* Safari 和 Chrome */
  -o-transform: scale(0.9, 1.6);
  /* Opera */
  font-weight: normal;
  color: #AFC1D8;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items dd.active {
  color: #2f80ed;
  font-weight: bold;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items dd.active:after {
  color: #2f80ed;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  vertical-align: middle;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .profile-icon {
  background-image: url('icon/edit_profile.png');
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .password-icon {
  background-image: url('icon/edit_psd.png');
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .platform-icon {
  background-image: url('icon/id_icon.png');
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .support-icon {
  background-image: url('icon/support_icon.png');
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .active.edit-profile .icon {
  background-image: url('icon/edit_profile_active.png');
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .active.edit-password .icon {
  background-image: url('icon/edit_psd_active.png');
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .active.edit-platformid .icon {
  background-image: url('icon/id_icon_active.png');
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .active.contact-us .icon {
  background-image: url('icon/support_icon_active.png');
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .logout {
  background: #afc1d8;
  font-size: 14px;
  border-radius: 3px;
  width: 180px;
  height: 35px;
  color: #fff;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel {
  background: #E1EAF1;
  box-sizing: border-box;
  height: 100%;
  width: calc(100% - 210px);
  padding: 30px 30px 0;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .profile-wrap {
  text-align: center;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .userhead-thumb {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  border: 2px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 6px 10px 2px #A1B9D8;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .userhead-thumb img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .userhead-thumb::after {
  content: '';
  display: block;
  position: absolute;
  right: -5px;
  top: 0;
  z-index: 100;
  width: 26px;
  height: 26px;
  background-image: url('icon/camera_icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .name {
  font-size: 15px;
  color: #333333;
  font-weight: bold;
  margin: 14px 0 8px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .steam-id {
  font-size: 12px;
  color: #666;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .steam-id::before {
  content: "Steam ID:";
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap {
  display: inline-block;
  margin-top: 20px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form {
  text-align: right;
  margin-bottom: 9px;
  position: relative;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form label {
  font-size: 12px;
  color: #333;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form input {
  width: 248px;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  padding: 0 16px;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  box-sizing: border-box;
  vertical-align: middle;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form input::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form input:-moz-placeholder {
  color: #999999;
  font-weight: 400;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form input::-moz-placeholder {
  color: #999999;
  font-weight: 400;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form input:-ms-input-placeholder {
  color: #999999;
  font-weight: 400;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form .visible {
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url('icon/visible.png');
  width: 14px;
  height: 14px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form .invisible {
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url('icon/invisible.png');
  width: 14px;
  height: 14px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form .bio-text {
  resize: none;
  width: 248px;
  border-radius: 3px;
  padding: 8px 16px;
  text-align: left;
  height: 75px;
  vertical-align: text-top;
  box-sizing: border-box;
  font-size: 12px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form .chang-id {
  width: 173px;
  margin-right: 4px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form .verify {
  width: 66px;
  height: 30px;
  vertical-align: middle;
  color: #2f80ed;
  background: #fff;
  border-radius: 3px;
  font-weight: bold;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .submit-wrap {
  text-align: right;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .submit-wrap a {
  margin-top: 16px;
  color: #2f80ed;
  font-size: 12px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .submit-edit {
  width: 105px;
  height: 35px;
  color: #fff;
  background: #2f80ed;
  border-radius: 3px;
  margin-top: 20px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .password-cont {
  margin-top: 50px;
}
.right-container {
  width: calc(100% - 233px);
  margin-left: 233px;
}
.right-container .main-cont {
  padding: 30px;
  padding-top: 98px;
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 0;
}
.right-container .group-tip {
  margin-bottom: 45px;
  background: rgba(47, 128, 237, 0.3);
  border-radius: 2px;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
}
.right-container .top-bar {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 19999;
  height: 68px;
  background: #171A21;
  width: calc(100% - 233px);
  box-sizing: border-box;
}
.right-container .menu {
  height: 100%;
  float: right;
  text-align: center;
}
.right-container .menu dl {
  width: 96px;
  height: 100%;
  float: left;
  padding: 5px 0;
  padding-top: 15px;
  box-sizing: border-box;
  border-bottom: 2px solid #171A21;
  cursor: pointer;
}
.right-container .menu img {
  width: 22px;
}
.right-container .menu dd {
  font-size: 12px;
  color: #2f80ed;
}
.right-container .menu .active {
  border-bottom-color: #59A0FF;
  background: -webkit-linear-gradient(top, #2f80ed, #234d87);
  background: -moz-linear-gradient(top, #2f80ed, #234d87);
  background: -o-linear-gradient(top, #2f80ed, #234d87);
  background: -ms-linear-gradient(top, #2f80ed, #234d87);
  background: linear-gradient(top, #2f80ed, #234d87);
}
.right-container .menu .active dd {
  font-size: 12px;
  color: #fff;
}
.right-container .logo {
  line-height: 68px;
  vertical-align: middle;
  color: #fff;
  width: 215px;
  text-align: center;
  float: right;
}
.hide {
  display: none;
}
.show {
  display: block;
}
body {
  background: #193E56;
}
.qa-conts {
  padding: 54px 0;
}
.qa-container {
  color: #fff;
  height: 100%;
  padding-bottom: 40px;
}
.qa-container .qa-nav {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  padding-left: 10px;
}
.qa-container .qa-nav li {
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  background: -webkit-linear-gradient(180deg, #e1eaf1, #8b9fae);
  background: -moz-linear-gradient(180deg, #e1eaf1, #8b9fae);
  background: -o-linear-gradient(180deg, #e1eaf1, #8b9fae);
  background: -ms-linear-gradient(180deg, #e1eaf1, #8b9fae);
  background: linear-gradient(180deg, #e1eaf1, #8b9fae);
  color: #66778D;
  padding: 0 10px 0 8px;
  border-radius: 3px 3px 0px 0px;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  margin-right: 10px;
  font-size: 12px;
}
.qa-container .qa-nav li .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}
.qa-container .qa-nav li .nav-hot-img {
  background-image: url('icon/hot_qa.png');
}
.qa-container .qa-nav li .nav-answer-img {
  background-image: url('icon/qa_write.png');
}
.qa-container .qa-nav .nav-hot.nav-active {
  color: #fff;
  background: -webkit-linear-gradient(180deg, #2f80ed, #214f81);
  background: -moz-linear-gradient(180deg, #2f80ed, #214f81);
  background: -o-linear-gradient(180deg, #2f80ed, #214f81);
  background: -ms-linear-gradient(180deg, #2f80ed, #214f81);
  background: linear-gradient(180deg, #2f80ed, #214f81);
}
.qa-container .qa-nav .nav-hot.nav-active i {
  background-image: url('icon/hot_qa_active.png');
}
.qa-container .qa-nav .nav-answer.nav-active {
  color: #fff;
  background: -webkit-linear-gradient(180deg, #2f80ed, #214f81);
  background: -moz-linear-gradient(180deg, #2f80ed, #214f81);
  background: -o-linear-gradient(180deg, #2f80ed, #214f81);
  background: -ms-linear-gradient(180deg, #2f80ed, #214f81);
  background: linear-gradient(180deg, #2f80ed, #214f81);
}
.qa-container .qa-nav .nav-answer.nav-active i {
  background-image: url('icon/qa_write_active.png');
}
.qa-container #answer-wrap {
  display: none;
}
.qa-container .qa-wrap {
  background: -webkit-linear-gradient(0deg, #1f3f67, #214f81);
  background: -moz-linear-gradient(0deg, #1f3f67, #214f81);
  background: -o-linear-gradient(0deg, #1f3f67, #214f81);
  background: -ms-linear-gradient(0deg, #1f3f67, #214f81);
  background: linear-gradient(0deg, #1f3f67, #214f81);
  border-radius: 0px 3px 3px 3px;
  height: 90%;
  padding: 10px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  scrollbar-arrow-color: #f0f2f5;
  /* 设置滚动条上的箭头颜色  */
  scrollbar-base-color: #f0f2f5;
  /* 设置滚动条的底色 */
  scrollbar-track-color: #f0f2f5;
  /* 设置滚动条块的背景色 */
  scrollbar-shadow-color: #f0f2f5;
  /* 设置箭头和滚动条右侧和底边的颜色 */
}
.qa-container .qa-wrap::-webkit-scrollbar {
  /* 滚动条宽 */
  width: 6px;
}
.qa-container .qa-wrap::-webkit-scrollbar-thumb {
  /* 滚动条 拖动条 */
  background-color: #5f789a;
}
.qa-container .qa-wrap::-webkit-scrollbar-track {
  /* 滚动条背景槽 */
  background-color: rgba(0, 0, 0, 0.6);
}
.qa-container .qa-wrap .qa-items {
  margin-bottom: 10px;
  padding: 18px 0 0;
  background: #fff;
  border-radius: 3px;
  color: #333333;
  overflow: hidden;
}
.qa-container .qa-wrap .qa-items .title {
  color: #333;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  padding: 0 15px;
  display: block;
}
.qa-container .qa-wrap .qa-items .cont {
  font-size: 12px;
  word-wrap: break-word;
  padding: 0 15px;
}
.qa-container .qa-wrap .qa-items .cont .thumb {
  width: 158px;
  height: 90px;
  margin-right: 20px;
  float: left;
}
.qa-container .qa-wrap .qa-items .cont .from {
  font-weight: bold;
}
.qa-container .qa-wrap .qa-items .cont .from::after {
  content: ': ';
}
.qa-container .qa-wrap .qa-items .qa-footer {
  border: 3px;
  background: #E1EAF1;
  margin-top: 15px;
  padding: 8px 10px;
  box-sizing: border-box;
  height: 37px;
  line-height: 37px;
  background: #E3E8F2;
}
.qa-container .qa-wrap .qa-items .qa-footer button {
  height: 23px;
  width: 80px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  color: #2f80ed;
  background: #fff;
  cursor: pointer;
}
.qa-container .qa-wrap .qa-items .qa-footer button.active {
  background: #2f80ed;
  color: #fff;
}
.qa-container .qa-wrap .qa-items .qa-footer .bg-btn {
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15px;
  padding-left: 23px;
  vertical-align: middle;
  font-size: 12px;
  color: #8597B0;
  height: 18px;
  line-height: 18px;
  cursor: pointer;
  margin-left: 21px;
}
.qa-container .qa-wrap .qa-items .qa-footer .comment-btn {
  background-image: url('icon/qa_comment.png');
}
.qa-container .qa-wrap .qa-items .qa-footer .comment-btn-active {
  background-image: url('icon/qa_comment_active.png');
  color: #2f80ed;
}
.qa-container .qa-wrap .qa-items .qa-footer .collect-btn {
  background-image: url('icon/qa_collect.png');
  background-size: 18px;
}
.qa-container .qa-wrap .qa-items .qa-footer .collect-btn-active {
  background-image: url('icon/qa_collect_active.png');
  color: #2f80ed;
  background-size: 18px;
}
.qa-container .qa-wrap .qa-items .qa-footer .answer-bg-btn {
  color: #8597B0;
  font-size: 12px;
  height: 23px;
  line-height: 23px;
  margin-right: 10px;
}
.qa-container .qa-wrap .qa-items .qa-footer .write-answer-btn {
  width: 110px;
  height: 23px;
  background-image: url('icon/answer_pen.png');
  background-repeat: no-repeat;
  background-position: 11px center;
  background-size: 12px;
  padding-left: 23px;
}
.qa-container .qa-wrap .qa-items .qa-footer .write-answer-btn.active {
  background-image: url('icon/answer_pen_active.png');
  background-repeat: no-repeat;
  background-position: 11px center;
  background-size: 12px;
}
.qa-container .qa-wrap .qa-items .pack-up {
  padding: 5px 15px 15px;
  background: #F6F8FC;
}
.qa-container .qa-wrap .qa-items .pack-up .pack-up-items .head-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  font-size: 0;
  vertical-align: middle;
}
.qa-container .qa-wrap .qa-items .pack-up .pack-up-items .member-name {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  vertical-align: middle;
}
.qa-container .qa-wrap .qa-items .pack-up .pack-up-items .publish-time {
  font-size: 12px;
  font-weight: 400;
  color: #999;
  vertical-align: middle;
  padding: 0 7px 0 8px;
}
.qa-container .qa-wrap .qa-items .pack-up .pack-up-items .member-comment {
  font-size: 12px;
  color: #333333;
  word-wrap: break-word;
  padding: 7px 15px 14px 38px;
  border-bottom: 1px solid #D3DEE6;
}
.qa-container .qa-wrap .qa-items .pack-up .refresh-comment {
  text-align: center;
  margin: 12px 0;
}
.qa-container .qa-wrap .qa-items .pack-up .refresh-comment .icon {
  width: 15px;
  height: 15px;
}
.qa-container .qa-wrap .qa-items .pack-up .footer-edit {
  width: 100%;
  height: 35px;
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  box-sizing: border-box;
}
.qa-container .qa-wrap .qa-items .pack-up .footer-edit .edit-message {
  border-radius: 3px 0px 0px 3px;
  flex: 1;
  color: #333;
  font-size: 12px;
  background: transparent;
  border: 1px solid #2f80ed;
  height: 35px;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 10px;
}
.qa-container .qa-wrap .qa-items .pack-up .footer-edit .edit-message::-webkit-input-placeholder {
  color: #999;
}
.qa-container .qa-wrap .qa-items .pack-up .footer-edit .edit-message:-moz-placeholder {
  color: #999;
}
.qa-container .qa-wrap .qa-items .pack-up .footer-edit .edit-message::-moz-placeholder {
  color: #999;
}
.qa-container .qa-wrap .qa-items .pack-up .footer-edit .edit-message:-ms-input-placeholder {
  color: #999;
}
.qa-container .qa-wrap .qa-items .pack-up .footer-edit .send {
  width: 98px;
  height: 35px;
  font-size: 14px;
  border-radius: 0px 3px 3px 0px;
  background-color: #2f80ed;
  color: #fff;
  padding: 10px;
  background-image: url('icon/send.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 14px center;
  padding-left: 40px;
  border: 0;
  vertical-align: middle;
}
.qa-container .qa-wrap .read-more {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  color: #5da2ff;
  font-size: 12px;
  cursor: default;
}
.qa-container .qa-wrap .read-more::after {
  position: absolute;
  right: -20px;
  top: 40%;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: 4px 5px 0;
  border-style: solid;
  border-color: #2f80ed transparent transparent;
}
.hang {
  position: fixed;
  bottom: 60px;
  width: calc(100% - 20px);
  height: 40px;
  left: 10px;
  color: #ffffff;
  z-index: 100;
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
}
.hang a {
  color: #fff;
}
.hang li {
  background: #2f80ed;
  padding: 0px 20px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 -1px 15px #1f446e;
}
.hang li .icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url('icon/qa_ask.png');
}
.hang .ask {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.hang .myqa {
  background: #ff6f2f;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.hang .myqa .icon {
  background-image: url('icon/my_qa.png');
}
.modal-warp {
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-warp .modal-panel {
  width: 300px;
  height: 295px;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -150px;
  margin-top: -200px;
}
.modal-warp .modal-panel .close-modal {
  text-align: right;
  margin-bottom: 15px;
}
.modal-warp .modal-panel .close-modal .close-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #2f80ed;
  text-align: center;
}
.modal-warp .modal-panel .sign-panel {
  color: #999;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  height: 310px;
  box-shadow: 0px 8px 15px 0px rgba(38, 87, 153, 0.3);
  padding: 0 20px;
}
.modal-warp .modal-panel .panel-title {
  height: 55px;
  padding: 0;
  background: #fff;
  line-height: 55px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #D3DEE6;
}
.modal-warp .modal-panel .panel-title img {
  vertical-align: middle;
  border: 2px solid #2f80ed;
  width: 35px;
  height: 35px;
  margin-right: 7px;
}
.modal-warp .modal-panel .panel-cont {
  height: auto;
  padding-top: 00 15px;
  background: #fff;
}
.modal-warp .modal-panel .panel-cont textarea {
  text-align: left;
  height: 175px;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  scrollbar-arrow-color: #f0f2f5;
  /* 设置滚动条上的箭头颜色  */
  scrollbar-base-color: #f0f2f5;
  /* 设置滚动条的底色 */
  scrollbar-track-color: #f0f2f5;
  /* 设置滚动条块的背景色 */
  scrollbar-shadow-color: #f0f2f5;
  /* 设置箭头和滚动条右侧和底边的颜色 */
}
.modal-warp .modal-panel .panel-cont textarea::-webkit-scrollbar {
  /* 滚动条宽 */
  width: 6px;
}
.modal-warp .modal-panel .panel-cont textarea::-webkit-scrollbar-thumb {
  /* 滚动条 拖动条 */
  background-color: #5f789a;
}
.modal-warp .modal-panel .panel-cont textarea::-webkit-scrollbar-track {
  /* 滚动条背景槽 */
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-warp .modal-panel .panel-cont .btn-wrap {
  text-align: right;
  padding: 0 20px 0;
}
.modal-warp .modal-panel .panel-cont .submitname-btn {
  width: 100%;
  height: 40px;
  color: #fff;
  background-color: #2f80ed;
  font-weight: bold;
  border-radius: 3px;
  font-size: 14px;
}
