body {
  font-family: "'Helvetica Neue',Helvetica,Arial,Sans-serif";
}
.m_logo {
  text-align: center;
}
.m_logo img {
  width: 180px;
}
.pc_logo {
  text-align: center;
  padding: 0 38px;
  line-height: 68px;
  width: 215px;
  box-sizing: border-box;
}
.pc_logo img {
  width: 130px;
  vertical-align: middle;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.showflex {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
}
.left-bar-fixed {
  overflow: hidden;
}
.my-group {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  scrollbar-arrow-color: #f0f2f5;
  /* 设置滚动条上的箭头颜色  */
  scrollbar-base-color: #f0f2f5;
  /* 设置滚动条的底色 */
  scrollbar-track-color: #f0f2f5;
  /* 设置滚动条块的背景色 */
  scrollbar-shadow-color: #f0f2f5;
  /* 设置箭头和滚动条右侧和底边的颜色 */
  width: 250px;
  overflow: auto;
  height: calc(100% - 80px);
}
.my-group::-webkit-scrollbar {
  /* 滚动条宽 */
  width: 6px;
}
.my-group::-webkit-scrollbar-thumb {
  /* 滚动条 拖动条 */
  background-color: #5f789a;
}
.my-group::-webkit-scrollbar-track {
  /* 滚动条背景槽 */
  background-color: rgba(0, 0, 0, 0.6);
}
.my-group .group .group-item span {
  display: inline-block;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.my-group .group .head-img {
  border-width: 2px;
}
.my-group .group:first-child .group-item .head-img {
  border-radius: 3px;
}
button,
input,
textarea {
  outline: none;
  border: 0;
  resize: none;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
a:focus,
.button:focus,
.input:focus {
  outline: none;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
body,
ul,
li,
dl,
dd,
dt {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
html,
body,
.container {
  height: 100%;
}
.go_top {
  background-image: url('icon/go_top.png');
  width: 34px;
  height: 34px;
  position: fixed;
  right: 0;
  bottom: 100px;
}
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  vertical-align: middle;
  color: #2f80ed;
}
.close-btn-m {
  background-image: url('icon/close_btn.png');
  width: 18px;
  height: 18px;
}
.head-img {
  width: 40px;
  height: 40px;
  min-width: 35px;
  min-height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  box-sizing: border-box;
}
.head-img img {
  width: 100%;
}
.refresh-btn {
  cursor: pointer;
}
.refresh-btn span {
  vertical-align: middle;
  color: #2f80ed;
  font-size: 12px;
}
.refresh-btn .icon {
  background-image: url('icon/blue_refresh.png');
  width: 12px;
  height: 12px;
  vertical-align: middle;
  margin-right: 8px;
}
#profilepop .modal-warp {
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
#profilepop .modal-warp .modal-panel {
  width: 668px;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -334px;
  margin-top: -238px;
}
#profilepop .modal-warp .modal-panel .close-modal {
  text-align: right;
  margin-bottom: 15px;
}
#profilepop .modal-warp .modal-panel .close-modal .close-btn {
  display: inline-block;
  width: 18px;
  height: 18px;
  color: #2f80ed;
  text-align: center;
}
#profilepop .modal-warp .modal-panel .set-panel {
  height: 457px;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 8px 15px 0px rgba(38, 87, 153, 0.3);
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel {
  width: 210px;
  height: 100%;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-title {
  font-size: 14px;
  font-weight: bold;
  color: #2f80ed;
  padding-bottom: 15px;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items {
  font-size: 12px;
  padding: 10px 0;
  border-top: 1px solid #DDE3EA;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items dt {
  color: #9AACC2;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items dd {
  color: #333333;
  margin-top: 14px;
  position: relative;
  cursor: default;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items dd:after {
  content: "\003E";
  position: absolute;
  right: 0;
  transform: scale(0.9, 1.6);
  -ms-transform: scale(0.9, 1.6);
  /* Internet Explorer */
  -moz-transform: scale(0.9, 1.6);
  /* Firefox */
  -webkit-transform: scale(0.9, 1.6);
  /* Safari 和 Chrome */
  -o-transform: scale(0.9, 1.6);
  /* Opera */
  font-weight: normal;
  color: #AFC1D8;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items dd.active {
  color: #2f80ed;
  font-weight: bold;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items dd.active:after {
  color: #2f80ed;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  vertical-align: middle;
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .profile-icon {
  background-image: url('icon/edit_profile.png');
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .password-icon {
  background-image: url('icon/edit_psd.png');
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .platform-icon {
  background-image: url('icon/id_icon.png');
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .support-icon {
  background-image: url('icon/support_icon.png');
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .active.edit-profile .icon {
  background-image: url('icon/edit_profile_active.png');
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .active.edit-password .icon {
  background-image: url('icon/edit_psd_active.png');
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .active.edit-platformid .icon {
  background-image: url('icon/id_icon_active.png');
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .set-items .active.contact-us .icon {
  background-image: url('icon/support_icon_active.png');
}
#profilepop .modal-warp .modal-panel .set-panel .left-panel .logout {
  background: #afc1d8;
  font-size: 14px;
  border-radius: 3px;
  width: 180px;
  height: 35px;
  color: #fff;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel {
  background: #E1EAF1;
  box-sizing: border-box;
  height: 100%;
  width: calc(100% - 210px);
  padding: 30px 30px 0;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .profile-wrap {
  text-align: center;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .userhead-thumb {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  border: 2px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 6px 10px 2px #A1B9D8;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .userhead-thumb img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .userhead-thumb::after {
  content: '';
  display: block;
  position: absolute;
  right: -5px;
  top: 0;
  z-index: 100;
  width: 26px;
  height: 26px;
  background-image: url('icon/camera_icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .name {
  font-size: 15px;
  color: #333333;
  font-weight: bold;
  margin: 14px 0 8px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .steam-id {
  font-size: 12px;
  color: #666;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .steam-id::before {
  content: "Steam ID:";
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap {
  display: inline-block;
  margin-top: 20px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form {
  text-align: right;
  margin-bottom: 9px;
  position: relative;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form label {
  font-size: 12px;
  color: #333;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form input {
  width: 248px;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  padding: 0 16px;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  box-sizing: border-box;
  vertical-align: middle;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form input::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form input:-moz-placeholder {
  color: #999999;
  font-weight: 400;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form input::-moz-placeholder {
  color: #999999;
  font-weight: 400;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form input:-ms-input-placeholder {
  color: #999999;
  font-weight: 400;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form .visible {
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url('icon/visible.png');
  width: 14px;
  height: 14px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form .invisible {
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url('icon/invisible.png');
  width: 14px;
  height: 14px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form .bio-text {
  resize: none;
  width: 248px;
  border-radius: 3px;
  padding: 8px 16px;
  text-align: left;
  height: 75px;
  vertical-align: text-top;
  box-sizing: border-box;
  font-size: 12px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form .chang-id {
  width: 173px;
  margin-right: 4px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .edit-form .verify {
  width: 66px;
  height: 30px;
  vertical-align: middle;
  color: #2f80ed;
  background: #fff;
  border-radius: 3px;
  font-weight: bold;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .submit-wrap {
  text-align: right;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .submit-wrap a {
  margin-top: 16px;
  color: #2f80ed;
  font-size: 12px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .form-wrap .submit-edit {
  width: 105px;
  height: 35px;
  color: #fff;
  background: #2f80ed;
  border-radius: 3px;
  margin-top: 20px;
}
#profilepop .modal-warp .modal-panel .set-panel .right-panel .password-cont {
  margin-top: 50px;
}
.right-container {
  width: calc(100% - 233px);
  margin-left: 233px;
}
.right-container .main-cont {
  padding: 30px;
  padding-top: 98px;
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 0;
}
.right-container .group-tip {
  margin-bottom: 45px;
  background: rgba(47, 128, 237, 0.3);
  border-radius: 2px;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
}
.right-container .top-bar {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 19999;
  height: 68px;
  background: #171A21;
  width: calc(100% - 233px);
  box-sizing: border-box;
}
.right-container .menu {
  height: 100%;
  float: right;
  text-align: center;
}
.right-container .menu dl {
  width: 96px;
  height: 100%;
  float: left;
  padding: 5px 0;
  padding-top: 15px;
  box-sizing: border-box;
  border-bottom: 2px solid #171A21;
  cursor: pointer;
}
.right-container .menu img {
  width: 22px;
}
.right-container .menu dd {
  font-size: 12px;
  color: #2f80ed;
}
.right-container .menu .active {
  border-bottom-color: #59A0FF;
  background: -webkit-linear-gradient(top, #2f80ed, #234d87);
  background: -moz-linear-gradient(top, #2f80ed, #234d87);
  background: -o-linear-gradient(top, #2f80ed, #234d87);
  background: -ms-linear-gradient(top, #2f80ed, #234d87);
  background: linear-gradient(top, #2f80ed, #234d87);
}
.right-container .menu .active dd {
  font-size: 12px;
  color: #fff;
}
.right-container .logo {
  line-height: 68px;
  vertical-align: middle;
  color: #fff;
  width: 215px;
  text-align: center;
  float: right;
}
.hide {
  display: none;
}
.show {
  display: block;
}
html,
body,
.container,
.pc-grop {
  height: 100%;
}
.header,
.footer {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.container {
  background: -webkit-linear-gradient(top, #1b3e55, #1a2736);
  background: -moz-linear-gradient(top, #1b3e55, #1a2736);
  background: -o-linear-gradient(top, #1b3e55, #1a2736);
  background: -ms-linear-gradient(top, #1b3e55, #1a2736);
  background: linear-gradient(top, #1b3e55, #1a2736);
}
.head-img {
  border: 2px solid #fff;
}
/***pc grop****/
.group-container {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  scrollbar-arrow-color: #f0f2f5;
  /* 设置滚动条上的箭头颜色  */
  scrollbar-base-color: #f0f2f5;
  /* 设置滚动条的底色 */
  scrollbar-track-color: #f0f2f5;
  /* 设置滚动条块的背景色 */
  scrollbar-shadow-color: #f0f2f5;
  /* 设置箭头和滚动条右侧和底边的颜色 */
  height: 100%;
}
.group-container::-webkit-scrollbar {
  /* 滚动条宽 */
  width: 6px;
}
.group-container::-webkit-scrollbar-thumb {
  /* 滚动条 拖动条 */
  background-color: #5f789a;
}
.group-container::-webkit-scrollbar-track {
  /* 滚动条背景槽 */
  background-color: rgba(0, 0, 0, 0.6);
}
.afterchat {
  overflow: hidden;
}
.pc-grop {
  position: relative;
}
.pc-grop .left-bar-fixed {
  width: 233px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  height: 100%;
  background: linear-gradient(#2f80ed, #2b6fc9, #1a2736);
  background: -webkit-linear-gradient(#2f80ed, #2b6fc9, #1a2736);
  background: -moz-linear-gradient(#2f80ed, #2b6fc9, #1a2736);
  background: -o-linear-gradient(#2f80ed, #2b6fc9, #1a2736);
  background: -ms-linear-gradient(#2f80ed, #2b6fc9, #1a2736);
}
.pc-grop .left-bar-fixed .member {
  position: relative;
  padding: 10px 15px;
  box-sizing: border-box;
  height: 68px;
  background: #2862B0;
}
.pc-grop .left-bar-fixed .member .profile-cont {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  align-items: center;
}
.pc-grop .left-bar-fixed .member .head-img {
  width: 45px;
  height: 45px;
  border-width: 2px;
}
.pc-grop .left-bar-fixed .member .profile {
  color: #fff;
  margin-left: 10px;
}
.pc-grop .left-bar-fixed .member .online-nam {
  font-size: 15px;
  font-weight: bold;
}
.pc-grop .left-bar-fixed .member .brief {
  font-size: 12px;
}
.pc-grop .left-bar-fixed .member .notice-set {
  position: absolute;
  bottom: 10px;
  right: 15px;
}
.pc-grop .left-bar-fixed .member .notice-set .icon {
  width: 15px;
  height: 15px;
}
.pc-grop .left-bar-fixed .member .set-icon {
  background-image: url('icon/setting.png');
  margin-left: 8px;
}
.pc-grop .left-bar-fixed .member .bell-icon {
  background-image: url('icon/bell.png');
}
.pc-grop .left-bar-fixed .member .bell-icon.active {
  position: relative;
}
.pc-grop .left-bar-fixed .member .bell-icon.active::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background: #ff6f2f;
  position: absolute;
  right: -2px;
  top: 0;
}
.pc-grop .left-bar-fixed .group {
  cursor: pointer;
  color: #fff;
}
.pc-grop .left-bar-fixed .group dt {
  background-image: url('icon/down_arrow.png');
  background-position: 210px 50%;
  background-size: 9px 5px;
  background-repeat: no-repeat;
}
.pc-grop .left-bar-fixed .group .group-name {
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid rgba(27, 60, 83, 0.3);
  border-top: 1px solid rgba(27, 60, 83, 0.3);
  padding: 0 15px;
  font-size: 14px;
}
.pc-grop .left-bar-fixed .group .group-name-fold {
  border-bottom: 0px;
  background-image: url('icon/up_arrow.png');
}
.pc-grop .left-bar-fixed .group:first-child .group-name {
  border-top: 0px;
}
.pc-grop .left-bar-fixed .group .group-item {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  height: 53px;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}
.pc-grop .left-bar-fixed .group .group-item span {
  font-size: 12px;
}
.pc-grop .left-bar-fixed .group .group-item .head-img {
  width: 35px;
  height: 35px;
}
.pc-grop .left-bar-fixed .group .group-item-active {
  background-color: #255EAC;
  background-image: url('icon/right_arrow.png');
  background-position: 210px 50%;
  background-size: 6px 10px;
  background-repeat: no-repeat;
}
.pc-grop .left-bar-fixed .group .square {
  border-radius: 0;
}
.pc-grop .card-group .card-item {
  background: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  height: 345px;
  box-shadow: 0 0 0 4px transparent inset;
  width: calc(25% - 8px);
  box-sizing: border-box;
  border-radius: 2px;
}
.pc-grop .card-group .card-item:nth-of-type(4n+0) {
  margin-right: 0;
}
.pc-grop .card-group .card-item .card-space-ctrl {
  padding: 15px;
}
.pc-grop .card-group .card-item .card-header {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
}
.pc-grop .card-group .card-item .card-body {
  padding: 15px 0;
}
.pc-grop .card-group .card-item .card-body a {
  font-size: 12px;
  color: #589FFF;
  text-decoration: none;
  margin: 5px 0;
  display: inline-block;
}
.pc-grop .card-group .card-item .card-body .operators {
  margin-top: 20px;
}
.pc-grop .card-group .card-item .card-body dl {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  align-items: center;
  margin-top: 5px;
}
.pc-grop .card-group .card-item .card-body dt {
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 50%;
}
.pc-grop .card-group .card-item .card-body dt img {
  width: 100%;
}
.pc-grop .card-group .card-item .card-body dd {
  font-size: 12px;
  color: #333;
  margin-left: 10px;
}
.pc-grop .card-group .card-item .card-body ul {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
}
.pc-grop .card-group .card-item .card-body li {
  overflow: hidden;
  width: 28px;
  height: 28px;
  margin-right: 10px;
}
.pc-grop .card-group .card-item .card-body li img {
  width: 100%;
}
.pc-grop .card-group .card-item .card-footer {
  padding: 15px;
  height: 62px;
  background: rgba(211, 222, 230, 0.8);
  border-radius: 3px;
  text-align: right;
  margin-top: 6px;
  box-sizing: border-box;
}
.pc-grop .card-group .card-item .card-footer button {
  border-radius: 3px;
  background: #2f80ed;
  width: 84px;
  height: 30px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.pc-grop .card-group .card-item .head-img {
  border: 2px solid #2F80ED;
}
.pc-grop .card-group .card-item-active {
  padding: 0 4px 0;
  box-shadow: 0 0 0 4px #ff6f2f inset, 0px 5px 30px #1a2736;
  position: relative;
}
.pc-grop .card-group .card-item-active .card-footer {
  height: 58px;
}
.pc-grop .card-group .card-item-active .card-footer button {
  background: #ff6f2f;
}
.pc-grop .bottom-btn {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  text-align: center;
  padding-left: calc(50%  - 145px);
  margin-top: 45px;
  cursor: pointer;
}
.pc-grop .refresh {
  text-align: center;
  width: 135px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  border: 1px solid rgba(47, 128, 237, 0.67);
  border-radius: 3px;
  margin-right: 10px;
}
.pc-grop .refresh span {
  color: #2f80ed;
  vertical-align: middle;
}
.pc-grop .refresh .refresh-icon {
  background-image: url('icon/refresh.png');
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.pc-grop .confirm-btn {
  width: 135px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  border-radius: 3px;
  color: #fff;
  background: #2f80ed;
  text-align: center;
  border: 1px solid #2f80ed;
}
#namemodal .modal-warp {
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
#namemodal .modal-warp .modal-panel {
  width: 300px;
  height: 270px;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -150px;
  margin-top: -200px;
}
#namemodal .modal-warp .modal-panel .close-modal {
  text-align: right;
  margin-bottom: 15px;
}
#namemodal .modal-warp .modal-panel .close-modal .close-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #2f80ed;
  text-align: center;
}
#namemodal .modal-warp .modal-panel .sign-panel {
  color: #999;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 8px 15px 0px rgba(38, 87, 153, 0.3);
}
#namemodal .modal-warp .modal-panel .panel-title {
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
  box-sizing: border-box;
  background: #E1EAF1;
  font-weight: bold;
  font-size: 14px;
  color: #2f80ed;
}
#namemodal .modal-warp .modal-panel .panel-cont {
  padding: 0 20px 15px;
  box-sizing: border-box;
  background: #fff;
  text-align: center;
}
#namemodal .modal-warp .modal-panel .panel-cont label {
  position: relative;
}
#namemodal .modal-warp .modal-panel .panel-cont .group-icon {
  background-image: url('icon/group_icon.png');
  width: 20px;
  height: 20px;
}
#namemodal .modal-warp .modal-panel .panel-cont input {
  height: 30px;
  margin-top: 27px;
  width: calc(100% - 40px);
  border-bottom: 1px solid #eeeeee;
}
#namemodal .modal-warp .modal-panel .panel-cont input::-webkit-input-placeholder {
  color: #999999;
  font-size: 12px;
}
#namemodal .modal-warp .modal-panel .panel-cont input:-moz-placeholder {
  color: #999999;
  font-size: 12px;
}
#namemodal .modal-warp .modal-panel .panel-cont input::-moz-placeholder {
  color: #999999;
  font-size: 12px;
}
#namemodal .modal-warp .modal-panel .panel-cont input:-ms-input-placeholder {
  color: #999999;
  font-size: 12px;
}
#namemodal .modal-warp .modal-panel .panel-cont .activeinput {
  border-bottom: 1px solid #2f80ed;
}
#namemodal .modal-warp .modal-panel .panel-cont .btn-wrap {
  text-align: right;
}
#namemodal .modal-warp .modal-panel .panel-cont .submitname-btn {
  width: 105px;
  height: 35px;
  color: #fff;
  background-color: #2f80ed;
  font-weight: bold;
  margin-top: 116px;
  border-radius: 3px;
  font-size: 14px;
}
